body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
}

#formCadastro {
    display: flex;
    flex-direction: column;
    width: 320px;
}


/* Estilo dos Campos */

input[type="text"],
select {
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 15px 15px 15px 25px;
    outline: 0;
}

select {
    padding: 5px 22px 5px 22px;
    margin-bottom: 5px;
    cursor: pointer;
}

input[type="text"]:focus,
select:focus {
    border: 1px solid #ffbd4f;
    transition-duration: 0.3s;
}

input[type="radio"],
input[type="checkbox"] {
    position: relative;
    top: 5px;
    width: 22px;
    height: 22px;
    margin: 0 0.5rem;
    background-color: white;
    border: 1px solid #e5e5e5;
    outline: none;
    transition-duration: 0.5s;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    border-radius: 50%;
    cursor: pointer;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    border-width: 5px;
    border-color: white;
    background-color: #ffbd4f;
}

#nome {
    width: 85%;
    margin-bottom: 10px;
}

#ddd {
    width: 12%;
    margin-bottom: 10px;
}

#fone {
    width: 59%;
}

.como-conheceu {
    align-self: center;
}


/* Estilo das Mídias */

.select-midias {
    align-self: center;
    margin-bottom: 5px;
}

#midias {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

#midias .opcoes {
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;
    animation: midiasEntry 0.3s ease-in;
    line-height: 33px;
}


/* Animação das Mídias */

@keyframes midiasEntry {
    0% {
        opacity: 0;
        bottom: 40px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}


/* Submit */

button {
    border: none;
    background-color: #ffbd4f;
    color: white;
    font-size: 14px;
    width: 30%;
    padding: 5px;
    border-radius: 30px;
    margin-top: 10px;
    align-self: center;
    font-weight: 700;
    text-transform: uppercase;
    outline: 0;
    cursor: pointer;
}